.box {
  border: 3px solid #ffa500;
  border-radius: 5px;
  display: inline-block;
  padding: 10px;
  text-align: left;
  width: 300px;

  margin: 20px;
  background-color: #ffe5b4;

  animation: fadeIn 1.5s;
  -webkit-animation: fadeIn 1.5s;
  -moz-animation: fadeIn 1.5s;
  -o-animation: fadeIn 1.5s;
  -ms-animation: fadeIn 1.5s;
}

.box button {
  margin: 10px;
  margin-left: 0;
  padding: 10px;
  background-color: #3a5ba0;
  color: white;
}

.editBox {
  border: 3px solid #ffa500;
  border-radius: 5px;
  display: inline-block;
  padding: 10px;
  text-align: left;
  width: 300px;

  margin: 20px;
  background-color: #ffe5b4;

  animation: fadeIn 1.5s;
  -webkit-animation: fadeIn 1.5s;
  -moz-animation: fadeIn 1.5s;
  -o-animation: fadeIn 1.5s;
  -ms-animation: fadeIn 1.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

.editBox button,
.editBox input[type="submit"] {
  margin: 10px;
  margin-left: 0;
  padding: 10px;
  background-color: #3a5ba0;
  color: white;
}

.editBox textarea {
  width: 275px;
  font-size: 0.95rem;
  padding: 5px;
  background-color: #ffe5b4;
  resize: none;
  border: 2px solid #3a5ba0;
  border-radius: 5px;
}
